h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Space Mono';
    margin-top: 100px;
}

.txt {
    width: 100%;
    text-align: justify;
    font-family: 'Public Sans';
}

.img-fluid{
    width:100%;
}

@font-face{
    font-family: 'Public Sans';
    src: url(../../fonts/PublicSans-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'Space Mono';
    src: url(../../fonts/SpaceMono-Regular.ttf);
    font-style: normal;
    font-weight: 800;
}
