h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Space Mono';
}

.txt {
    width: 50%;
    text-align: justify;
    font-family: 'Public Sans';
}

.img-fluid{
    right: 50px;
    position: absolute;
    top: -150px;
    width: 500;
    height: 500;
}

@font-face{
    font-family: 'Public Sans';
    src: url(../../fonts/PublicSans-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'Space Mono';
    src: url(../../fonts/SpaceMono-Regular.ttf);
    font-style: normal;
    font-weight: 800;
}
