.container-div {
    Display: flex;
    Height: 100vh;
    Width: 100%;
    Align-Items: center;
    Justify-Content: center;
    background: url("../../images/portada25.gif") no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}
