.bg {
    background-image: url("../../../images/source.gif");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
